---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Poems">
  <ul class="poem-list">
    <li>
      <div class="poem-number">#1</div>
      <a href="/poems/fluent-in-fine">Fluent in Fine</a>
    </li>
    <li>
      <div class="poem-number">#2</div>
      <a href="/poems/the-other-door">The Other Door</a>
    </li>
  </ul>
</Layout>
